[Desktop Entry]
Type=Application
Name=Spectrune
Comment=Per-application VPN routing
Exec=sg spectrune -c "/usr/bin/spectrune /gui"
Icon=spectrune
Terminal=false
Categories=Network;
